.main {
  animation: slidIn 1s ease-in-out 0.5s 1;
}

.container {
  display: grid;
  width: 90%;
  margin: auto;
  margin-top: 100px;
  justify-items: center;

  grid: 10px 10px;
  grid-template-columns: 40% 60%;
  grid-template-areas:
    "itemImage itemInfo"
    "itemImage itemDescription";
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(1);
  }
}

.itemImage {
  grid-area: itemImage;
}
.itemInfo {
  grid-area: itemInfo;
  margin-left: auto;
}
.itemDescription {
  grid-area: itemDescription;
}

.image {
  width: 100%;
  height: 87%;
}
.smallImageBoxDiv {
  display: flex;
}

.smallImageBox {
  width: 50px;
  margin: 5px 5px;
  height: 50px;
  border: 0.5px solid black;
}
.smallImage {
  display: block;
  margin: auto;
  width: 50%;
  height: 90%;
}
.price {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0 20px;
  padding: 20px 0px;
}

.smallBox {
  height: 20px;
  width: 20px;
  border: 0.2px solid black;
  margin: auto 10px;
}

.selectSize {
  display: flex;
  justify-content: left;
  padding-left: 20px;
}

.Hr {
  width: 90%;
}

.buttonGroup {
  display: flex;
  margin-left: 20px;
}
.button {
  margin: 5px;
  transition-duration: 0.4s;
  background-color: #4b5b4b; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
}
.button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}
.button:disabled {
  background-color: #272c27;
  cursor: not-allowed;
}
.button:hover .tooltip {
  visibility: visible;
}
.tooltip {
  visibility: hidden;
  width: 80%;
  background-color: rgba(211, 211, 74, 0.404);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  padding: 8px 2px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 50%;
  margin-left: -60px;
}
.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 20%; /*left of the tooltip*/
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(211, 211, 74, 0.404) transparent transparent transparent;
}
@media only screen and (max-width: 600px) {
  .container {
    display: block;
  }
}
