.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  padding: 2%;

  flex-basis: 35%;

  text-decoration: none;
}
.page {
  height: 400px;
}

@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }
  .card {
    padding: 2%;
    margin: 10px;
  }
}
