.Image {
  width: 90%;
  display: block;
  margin: auto;
  height: 75vh;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.8);
}
.main {
  margin: 10px 5px;
}

@media screen and (max-width: 480px) {
  .Image {
    height: 50vh;
    width: 100%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.8);
  }
}
