.main {
  padding: 2em;
  margin: 1em;
  background-color: rgb(241, 241, 241);
}

.heading {
  font-size: 1.4em;
  font-weight: 600;
}

.itemsFlexBox {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.itemImage {
  width: 100%;
  max-width: 180px;
}

.itemContainer {
  margin: 2em;
  padding: 1em;
  background-color: rgb(230, 230, 230);
  display: flex;
  width: 70%;
}

.orderStatus {
  display: flex;
}
.orderStatusItem {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.Form {
  display: flex;
  flex-direction: column;
}

.FormSpan {
  padding: 1em;
}

.formInput {
  padding: 10px;
}

.ReviewAddButton {
  width: 50%;
  height: 40px;
  color: white;
  font-size: 1.1em;
  background-color: rgba(55, 116, 55, 0.829);
  margin: 5px 3px;
  border-radius: 5px;
}

.ReviewRemoveButton {
  width: 50%;
  height: 40px;
  color: white;
  font-size: 1.1em;
  border-radius: 5px;
  background-color: rgb(126, 45, 13);
  margin: 5px 3px;
}

@media screen and (max-width: 786px) {
  .main {
    padding: 0.1em;
  }
  .itemContainer {
    flex-direction: column;
  }
  .itemsFlexBox {
    padding: 10px;
  }
  .ReviewAddButton {
    font-size: 1em;
    padding: 2px;
    width: 70%;
  }
  .ReviewRemoveButton {
    font-size: 1em;
    padding: 2px;
    width: 70%;
  }
  .orderStatusItem {
    padding: 4px;
  }
}
